.btn-carrousel{
    text-decoration: none;
    @include styleButton(#333,#333,$pd-1,$pd-2,$color-black-0);
    @include styleText(#ddd,$fs-0 + 1,$fw-normal);
    letter-spacing: 0.5px;
    &:hover{
        text-decoration: none;
        @include styleButtonHover(rgb(24, 24, 24),$color-white-0,$color-black-0);
    }

    @include responsive("small"){
        @include styleText(#ddd,$fs-1,$fw-normal);
        @include styleButton(#333,#333,$pd-0,$pd-1,null);
    }
}

.btn-intro{
    text-decoration: none;
    margin-top: 10%;
    @include styleButton($theme-active,$theme-active,$pd-0,$pd-1,$border-radius);
    @include styleText($color-white-0,$fs-0 + 2,$fw-normal);
    letter-spacing: 0.5px;
    &:hover{
        text-decoration: none;
        @include styleButtonHover(#005786,$color-white-0,#005786);
    }

    @include responsive("small"){
        width: 100%;
        padding: 8px 10%;
    }
}

.btn-showMore{
    text-decoration: none;
    text-align: center;
    grid-column: 2 / span 1;
    margin-left: 33.33333%;
    margin-top: 8%;
    width: 33%;
    display: flex;
    justify-content: space-around;
    @include styleButton(#2a2a2a,#202020,$pd-0 + 1,$pd-1 + 5,null);
    @include styleText(#999,$fs-0 + 2,$fw-normal);
    letter-spacing: 0.5px;
    background-image: linear-gradient(to bottom, #303030, #202020);
    &:hover{
        text-decoration: none;
        cursor: pointer;
        @include styleButtonHover(#2a2a2a,$color-white-0,null);
    }

    @include responsive("small"){
        font-size: $fs-0;
    }
    @include responsive("ipad"){
        font-size: $fs-0;
        margin-left: -15%;
    }
}

.btnGoToTop{
    text-decoration: none;
    transition: all .5s;
    @include styleButton(transparent,transparent,0,0,null);
    @include styleText(rgba(138, 138, 138, 0.6),$fs-0,$fw-normal);
    letter-spacing: 0.6px;
    &:hover{
        color: $theme-primary;
    }
}

.btnMercedes{
    text-decoration: none;
    display: block;
    transition: all .8s;
    margin-bottom: $mg-0 - 1;
    @include styleButton(#272727,transparent,$pd-0 + 2,$pd-1,$border-radius);
    @include styleText($color-white-0,$fs-2,$fw-normal);
    letter-spacing: 0.2px;
    padding-right: 5rem;
    transform: translateX(13.2rem);
    &:hover{
        text-decoration: none;
        color: $color-white-0;
        transform: translateX(0);
    }

    @include responsive("small"){
        padding-right: 5%;
    }
}

.btnVehicle{
    @include styleButton(transparent,transparent,0,0,null);
    @include styleText($color-white-0,$fs-0,$fw-normal);
    margin-top: 10%;
    @include responsive("small"){
        @include styleText($color-white-0,$fs-2,$fw-normal);
        text-align: center;
        margin-left: 37%;
        margin-top: 0;
    }

    @include responsive("ipad"){
        @include styleText($color-white-0,$fs-2,$fw-normal);
        text-align: center;
        margin-left: 43%;
        margin-top: 0;
    }
    
    &:focus{
        outline: none;
        color: $theme-primary;
    }

    &:hover{
        outline: none;
        color: $color-white-0;
    }
}

.slick-close{
    border:none;
    outline: none;
    background-color: transparent;
    color: #424242;
    font-size: $fs-3 + 4;
    position: absolute;
    top:0;
    right: 5%;
    padding: 1%;
    
    &:hover{
        cursor: pointer;
        color: $theme-primary;
    }

    &:focus{
        outline: none;
        border:none;
    }
}

.btnSearchHeader{
    background-color: transparent;
    border:none;
    outline: none;
    color: $color-white-0;
    margin-left: 22%;
}
