// variable color
$theme-primary: #00adef;
$text-on-theme-primary: #fff;
$hover-on-theme-primary: #ccc;
$theme-active: #0088c6;
$theme-disabled: #4dc6f4;
$color-black-0: #000;
$color-white-0: #fff;
$link-on-base-color: #999;
$hover-on-base-color: #999;
$bg-on-base-color: #141414;
$color-blue: #007791;
$color-trans: transparent;

// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
//Còn 1 font-size: 36px;
$fs-4: 40px;

//variable margin
$mg-0: 2px;
$mg-1: 10px;
$mg-2: 25px;

//variable border-radius
$border-radius: 2px;

//variable padding
$pd-0: 5px; //default
$pd-1: 10px;
$pd-2: 20px;

//variable line-height
$line-height-0: 1.43; //default

//variable font-weight
$fw-normal: normal;
$fw-bold-0: 600;
$fw-bold-1: 700;
$fw-bold: bold;

//break points
$breakpoints: (
  "extra-large": 1200px,
  "large": 992px,
  "ipad": 768px,
  "small": 414px,
);
