*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Shippori Mincho', serif;
    font-size: $fs-0;
    color: $color-white-0;
    background-color: #000;
    line-height: $line-height-0;
    @include styleText($color-black-0,$fs-0,$fw-normal);
    position: relative;
}

h1,h2{
    font-family: 'Oswald', sans-serif; 
}

@include responsive("small"){
    h1,h2{
        @include styleText($color-white-0,$fs-0,$fw-normal);
    }
    p{
        font-family: 'Roboto Condensed', sans-serif;
        @include styleText($color-white-0,$fs-1,$fw-normal);
    }
}

