.channel{
    margin-top: 8%;
    
    .channel__content{
        
        display: flex;
        width: 86%;
        margin: auto;
        .item{
            position: relative;
            padding: 1%;
            a{
                img{
                    width: 100%;
                    border-bottom: 6px solid #1e1e1e;
                }
                &:hover{
                    img{
                        border-bottom: 6px solid $theme-active;
                        
                    }
                }
                
                
            }
            
        }

        .item.active{
            a{
                img{
                    border-bottom: 6px solid $theme-active;
                }
            }
        }
        
    }
}

@include responsive("small"){
    .channel{
        margin-top: 15%;
        .channel__content{
            display: grid;
            grid-template-columns: 50% 50%;
            grid-gap: $mg-1;
            padding-right: 4.5%;
            .item{
                grid-column: span 1;
                width: 100%;
            }
        }
        
    }
    
}