.strap{
    position: fixed;
    right: 0;
    top: 36%;
    z-index: 97;
    .strap__content{
        overflow: hidden;
        .btnMercedes{
            span{
                margin-right: $mg-1 + 3;
                i{
                    font-size: $fs-3 ;
            
                }
                
            }
        }
    }
}

@include responsive("ipad"){
    .strap{
        top:28%;
        right:0;
    }
}


@include responsive("small"){
    .strap{
        top: 91%;
        right:49%;
        max-width: 576px;
        background-color: $color-black-0;
        .strap__content{
            display: flex;
            overflow: unset;
            max-width: 576px;
            justify-content:space-evenly;
            .btnMercedes{
                width: 8.8rem;
                text-align: center;
                height: 4.5rem;
                margin-right: $mg-0 ;
                font-size: $fs-1;
                span{
                    margin-right: 0;
                    i{
                        font-size: $fs-3 + 5;
                        margin:4% 20%;
                    }
                }

                
            }
        }
    }
}